;; resources/migrations/002_add_username_and_password_to_users.edn
{:up   ["ALTER TABLE users
         ADD COLUMN username VARCHAR NOT NULL,
         ADD COLUMN password VARCHAR NOT NULL;"]
 :down ["ALTER TABLE users
         DROP COLUMN username,
         DROP COLUMN password;"]}
